<style>

.content {
    width: 683px;
    float: right;
    text-align: left;
    background-image: url(../slices/WelcomeMessage.jpg);
    font-family: Helvetica, Geneva, sans-serif;
}

</style>